:root{
  --fs-xl: clamp(3rem, 12vw + 1rem, 9rem);
  --fs-p: 1rem;
  --fs-h3: 2rem;
  --fs-h4: calc(1.275rem + .3vw);
}

@media (max-width: 1000px) {
  :root{
    --fs-h3: 1.8rem
  }
}

@media (max-width: 700px) {
  :root{
    --fs-p: 0.8rem;
    --fs-h3: 1.4rem;
    --fs-h4: 1.2rem;
  }
}

*, p{
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

p{
  font-size: var(--fs-p);
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  width: 100%;
}

a{
  text-decoration: none;
  color: #eee;
}

a:hover{
  color: #eee;
}

/* ----------------------------------------------- */
/* && VIDEO BACKGROUND && */

/* .hero{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
} */

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: fade-in 5000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------------- */
/* && LEFT NAVBAR && */

#footer{
  position: fixed;
  left: 40px;
  top: 0;
  padding: 20px 0 30px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.contact-icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

i{
  transition: .5s;
}

i::before{
  transform: scale(.9);
  z-index: -1;
}

i:hover::before {
  transform: scale(1.1);
}

i:hover {
  color: #ffffff;
  /* text-shadow: 0 0 10px #eee; */
  transform: scale(1.5);
}

i, h4{
  color: #ffffff;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* ----------------------------------------------- */
/* && RIGHT BOTTOM NAVBAR && */

.navbar-nav{
  gap: 25px;

}

/* .container-fluid{
  transition: 1s;  
}

.container-fluid:hover{
  background-color: #eeeeee30;
  color: #000000!important;
} */

.fixed-bottom{
  z-index: 3;
}

.hidden{
  position: fixed;
  width: 0%;
  /* height: 50px; */
  /* bottom: 15px; */
  opacity: 0;
  transition: 1s;
  z-index: 3;
}

.show{
  position: fixed;
  right: 0;
  bottom: 19px;
  width: 600px;
  height: 50px;
  opacity: 1;
  background-color: rgba(23, 20, 25, 0.6);
  /* background: linear-gradient(rgba(23, 20, 25, 0.6),rgba(16, 16, 21, 0.7)); */
  /* display: none; */
  /* animation: fade-in 2000ms; */
  transition: 1s;
  z-index: 3;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

div.offcanvas-body a{
  text-decoration: none;
  color: #eee!important;
}

.offcanvas{
  max-width: 75%;
}

.offcanvas-backdrop.show{
  background-color: rgba(0,0,0,.621);
}

body.modal-open a{
  color: black!important;
}

.nav-link{
  transition: .85s;
  font-weight: 300;
  color: #000000!important;
}

.nav-link:hover{
  /* color: #ffffff; */
  /* text-shadow: 0 0 5px #ffffff; */
  /* background-color: #eeeeee7b;
  color: #000000!important; */
  transform: scale(1.15);
  font-weight: 350;
}

/* ----------------------------------------------- */
/* && TITLE SCREEN && */

#homepage{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.intro{
  padding-left: 100px;
  /* animation: slideInFromRight 1400ms ease-in; */
}

#title{
  overflow-wrap: break-word!important;
  word-wrap: break-word!important;
  width: fit-content;
  margin: 0 50px;
}

.name{
  font-size: var(--fs-xl);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 01px;
  text-align: center;
  font-weight: 300!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* animation: slideInFromRight 1400ms ease-in; */
}

.left-aligned{
  text-align: right;
  margin-right: 50px;
  /* animation: slideInFromLeft 1800ms ease-in; */
}

/* @keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* ----------------------------------------------- */
/* && PROJECT SECTION && */

.project-div{
  width: 100%;
  margin-bottom: 50px;
}

#projects{
  margin: 0px 5% 0 10%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

/* Accordion */

.accordion{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 2rem auto;
  /* color: rgb(48, 47, 47); */
  color: aliceblue; 
}

.accordion-item {
  /* background-color: rgba(240, 248, 255, 0.687); */
  background-color: transparent;
  padding: 15px 10px;
  border: none;
}

.accordion-title {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.accordion-content{
  animation: fade-in 3000ms;
}

/* ======= */
/* Buttons */

.project-buttons{
  padding: 25px 50px 0 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

button{
  padding: 10px 50px;
  color: #eee;
  border-color: #eee;
  border-style: solid;
  transition: all 0.4s ease 0s;
}

button:hover{
  color: rgb(48, 47, 47);
  background-color: #eee; 
  border-color: #eee;
  transition: all 0.4s ease 0s;
}

.project-buttons-black{
  color: #000000;
  border-color: #000000e8;
  padding: 10px 50px;
}

.project-buttons-black:hover{
  color: #eee;
  background-color: rgb(48, 47, 47); 
  border-color: rgb(48, 47, 47);
  transition: all 0.4s ease 0s;
}

.back-arrow{
  margin: 25px 0 0 25px;
  width: 2rem;
  height: 1.8rem;
  align-self: flex-start;
  color: #000000b4;
}

.back-arrow:hover{
  cursor: pointer;
}

/* ======= */

.carousel1{
  margin: 25px 0;
  animation: slideup 1500ms ease-out forwards;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h3{
  font-size: var(--fs-h3);
  margin: 0;
  font-weight: 600;
  font-family: 'Montserrat' sans-serif;
}

h4{
  font-size: var(--fs-h4);
}

.project-list-item{
  width: 90%;
  display: flex;
  gap: 50px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  transition: .5s;
}

.project-list-item:hover{
  cursor: pointer;
  /* transform: scale(1.2); */
  transform: translateX(2em)
}

.thumbnail{
  width: 350px;
  max-height: 162px;
  object-fit: cover;
  object-position: 100% 0;
  z-index: 0;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.621);
}

.modal-test{
  background-color: #eee;
  position: fixed;
  margin: 0px 50px 0 100px;
  z-index: 30;
  max-height: calc(100vh - 00px);
  overflow-y: auto;
  animation: slidedown 600ms ease-out forwards;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
  padding: 25px;
}

.modal-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-hr{
  width: 100%;
}

.closeBtn {
  color: #eee;
  color: rgb(48, 47, 47);
  margin-left: 20px;
  font-size: 1.8rem;
  /* position: sticky; */
  position: absolute;
  right: 15px;
  z-index: 50;
  /* width: 100%; */
  text-align: end;
  top: 15px;
}

.closeBtn:hover{
  cursor: pointer;
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .modalContainer {
  display: flex;
  background-color: #ffffff;
  color: rgb(48, 47, 47);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
} */

/* ABOUT */

#about{
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.divided-container{
  display: flex;
  justify-content: end;
  gap: 100px;
  margin-top: 50px;
}

.left-half{
  text-align: right;
}

.right-half{
  width: 50%;
  text-align: left;
  padding-top: 3px;
}

/* ----------------------------------------------- */
/*  && SMALL PROJECTS SECTION && */

.minor-projects-container{
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.small-project-btn{
  padding: 10px 0;
  width: 25%;
}

/* ----------------------------------------------- */
/*  && EDUCATION SECTION && */

.half-line{
  width: 50%;
}

#education{
  margin: 0 5% 0px 10%;
  padding: 50px 0;
  /* background-color: #eee;
  color: #000000; */
}

.education{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.resume-btn{
  margin-bottom: 15px;
}

.resume-icon{
  text-align: center;
  size: 80;
  margin: 0 calc(25% - 100px);
}

.resume-icon:hover{
  color: #ffffff;
  cursor: pointer;
}

.education-list{
  max-width: 50%;
}

.half{
  margin-left: 50%;
}

.separator-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.separator{
  height: 5px;
  width: 50px;
  background-color: #eeeeee7e;
}

.middle{
  width: 20%;
}

/* ----------------------------------------------- */
/* && CONTACT SECTION && */

.half-left{
  width: 50%;
  padding-right: 50px;
}

#contact{
  margin: 50px 5% 150px 10%;
}

.contact-container{
  display: flex;
  /* align-items: center; */
}

.personal-info{
  width: 50%;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: solid 1px
}

.form-row, .form-group{
  margin: 20px 0;
}

.form-row{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media only screen and (max-width: 1100px) {
  #footer{
    left: 3%
  }
  .intro{
    padding-left: 50px;
  }
  #title{
    margin: 25px
  }
  .name{
    width: min-content;
    text-align: left;
    /* font-size: 6rem; */
  }
  .nav-link:hover{
    transform: none;
  }
  .left-aligned{
    margin-right: 25px;
  }
  #projects, #education, #contact{
    /* margin: 10px 80px; */
    margin: 0px 3% 0 10%;
    /* padding: 25px; */
  }
  #contact{
    margin-bottom: 150px;
  }
  .thumbnail{
    width: 200px;
    max-height: 93px;
  }
  .project-buttons{
    padding: 0;
  }
  .project-buttons-black{
    padding: 10px 35px;
  }
  .minor-projects-container{
    /* flex-wrap: wrap; */
  }
  .half-left{
    padding-right: 4%;
  }
  .divided-container{
    gap: 20px;
  }
  .resume-icon{
    size: 50;
  }
}

@media only screen and (max-width: 700px) {
  #footer{
    left: 15px
  }
  .show{
    background-color:#eee;
    bottom: 0;
    right: 0;
    height: auto;
  }
  /* .offcanvas-header {
    display: flex!important;
  } */
  .navbar-nav{
    gap: 13px;
  }
  .navbar-expand-sm .navbar-nav{
    flex-direction:row;
  }
  .intro{
    padding-left: 25px;
  }
  #title{
    margin: 0 20px 25px 62px;
  }
  .left-aligned{
    font-size: 0.9rem;
  }
  #projects, #education, #contact{
    flex-direction: column;
    margin: 10px 20px 10px 62px;
    /* padding: 10px; */
  }
  #contact{
    margin-bottom: 100px;
  }
  .project-list-item{
    /* flex-direction: column; */
    /* align-items: flex-end; */
    align-items: flex-start;
    gap: 20px;
  }
  .thumbnail{
    width:150px;
    max-height: 69px;
  }
  .modal-test{
    margin: 0;
  }
  .closeBtn{
    font-size: 1.5rem;
    
  }
  .left-half{
    margin-left: 25px;
  }
  .back-arrow{
    margin: 45px 0 0 5px;
  }
  .content{
    padding: 10px;
    margin: 15px 0;
  }
  .project-buttons, .minor-projects-container{
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 10px;
  }
  .small-project-btn{
    width: 100%;
  }
  .right-half{
    width: auto;
  }
  .education{
    flex-direction: column;
    align-items: start;
  }
  .resume-icon{
    display: none;
  }
  .education-list{
    max-width: 100%;
  }
  .half, .half-left, .half-line{
    margin-left: 0;
    /* text-align: end; */
    width: 100%;
  }
  .contact-container{
    flex-direction: column;
    gap: 50px;
  }
  .personal-info{
    width: 100%;
    padding: 50px 0;
  }
  .half-left{
    padding-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .project-list-item{
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }
  .project-list-item:hover{
    transform: none;
  }
  .thumbnail{
    width:100%;
    min-height: 100px;
    max-height: 100px;
  }
}