*, p{
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  width: 100%;
}

a{
  text-decoration: none;
}

/* && VIDEO BACKGROUND && */

/* .hero{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
} */

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: fade-in 5000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* && LEFT NAVBAR && */

#footer{
  position: fixed;
  left: 40px;
  top: 0;
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.contact-icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

i, h4{
  color: #ffffff;
}

/* && RIGHT BOTTOM NAVBAR && */

.navbar-nav{
  gap: 25px;
}

.fixed-bottom{
  z-index: 3;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

div.offcanvas-body a{
  text-decoration: none;
  color: #eee!important;
}

body.modal-open a{
  color: black!important;
}

/* && TITLE SCREEN && */

#homepage{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.intro{
  padding-left: 100px;
}

#title{
  overflow-wrap: break-word!important;
  word-wrap: break-word!important;
  width: fit-content;
  margin: 0 50px;
}


.name{
  font-size: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  text-align: center;
  /* width: min-content; */
}

h2{
  text-align: right;
  margin-right: 50px;
}

/* && PROJECT SECTION && */
.vertical{
  padding-bottom: 30px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.project-div{
  width: 100%;
}

#projects{
  margin: 0px 200px;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  background-color: rgba(240, 248, 255, 0.687);
}

.accordion {
  margin: 2rem auto;
  color: rgb(48, 47, 47);
}

.accordion-item {
  background-color: rgba(240, 248, 255, 0.687);
  padding: 15px 10px;
}

.accordion-title {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.project-buttons{
  padding: 0 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

button{
  padding: 10px 20px;
}

.carousel{
  margin: 25px 0;
}

h3{
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Montserrat' sans-serif;
}

@media only screen and (max-width: 1100px) {
  .intro{
    padding-left: 50px;
  }
  #title{
    margin: 25px
  }
  .name{
    width: min-content;
    text-align: left;
    font-size: 6rem;
  }
  h2{
    margin-right: 25px;
  }
  #projects{
    margin: 10px 80px;
    padding: 25px;
  }
  h3{
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 700px) {
  .intro{
    padding-left: 25px;
  }
  .name{
    font-size: 4rem;
  }
  #projects{
    flex-direction: column;
    margin: 10px 25px;
    padding: 15px;
  }
  .vertical{
    padding-bottom: 0px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  h3{
    font-size: 1.4rem;
  }
  .project-buttons{
    padding: 0;
    gap: 2px;
  }
  button{
    padding: 5px 15px;
  }
}

